# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environment
.venv/

# Secrets
.env

# Spark JARs
infra/jars/

# Airflow
airflow/logs/
airflow/*.db
airflow/*.cfg

# dbt
news_pipeline/target/
news_pipeline/dbt_packages/
news_pipeline/logs/

# Misc
logs/
.cache/
